body, tr, td{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
}

.up, .down{
    display: block;
    height: 20vh;
    width: 100vw;
    background-color: lightblue;
    overflow-y: auto;
}

.cell-text{
    display: table-cell;
    height: 20vh;
    vertical-align: middle;
}

.insert{
    width: 100px;
}

.inner-text{
    margin: auto;
    height: 20px;
    width: 50px;
    background-color: white;
    border: 1px solid black;
}

.main {
    display: block;
    table-layout: fixed;
    width: 100vw;
    max-height: 60vh;
    overflow-y: auto; 
}

.data{
    display: inline-block;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
}

.left{
    display: inline-block;
    width: 20vw;
    height: 60vh;
    background-color: lightsalmon;
}

.right{
    width: 80vw;
    height: 60vh;
}

.center-up{
    display: inline-block;
    width: 80vw;
    height: 10vh;
    background-color: lightgreen;
}

.corner-left{
    display: inline-block;
    width: 60vw;
    height: 50vh;
    text-align: center;
}

.corner-right{
    display: inline-block;
    width: 20vw;
    height: 50vh;
    background-color: lightsalmon;
}

.text{
    overflow-x: auto;
}
