body{
    padding: 0;
    margin: 0;
}

tr{
    margin: 0;
    padding: 0;
}

td{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
}

.up, .down{
    table-layout: fixed;
    height: 20vh;
    width: 100vw;
    background-color: lightblue;
}

.insert{
    width: 100px;
}

.inner-text{
    margin: auto;
    height: 20px;
    width: 50px;
    background-color: white;
    border: 1px solid black;
}

main{
    table-layout: fixed;
    height: 60vh;
    width: 100vw;
}

.left{
    min-width: 20vw;
    height: 60vh;
    background-color: lightsalmon;
}

.center{
    width: 80vw;
    max-height: 60vh;
    overflow-y: auto;
}

.center-up{
    width: 80vw;
    height: 10vh;
    background-color: lightgreen;
    overflow-y: auto;
}

.corner-left{
    width: 60vw;
    height: 50vh;
    position: relative;
}

img{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.corner-right{
    width: 20vw;
    height: 50vh;
    background-color: lightsalmon;
    overflow-y: auto;
}

.text, .up-down-text{
    overflow-y: auto;
}

.up-down-text{
    overflow-x: hidden;
    max-height: 20vh;
    max-width: 100vw;
}